<h1 class="md-headline form-title"> Boulangerie - Faire un don</h1>
<div layout="column" class="md-inline-form">
  <div class="md-padding">
    <div layout-wrap layout="row">
      <md-card flex="80" class="padding-card">

        <!-- Card 1/3 -->
        <div ng-if="vm.cardNumber == 1">
          <md-card-header>
            <md-card-header-text>
              <span class="md-title"> Contenu du don </span>
              <span class="md-subhead">	Veuillez renseigner les invendus que vous souhaitez donner </span>
            </md-card-header-text>
          </md-card-header>

          <div class="card-content">

            <table class="table table-striped" ng-if="vm.listDonations.length > 0">
              <thead>
              <tr>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Commentaire</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="donation in vm.listDonations">
                <td>{{ donation.productName }}</td>
                <td>{{ donation.quantity }}</td>
                <td>{{ donation.comment }}</td>
              </tr>
              </tbody>
            </table>

            <md-input-container>
              <label>Produit</label>
              <input name="productName" ng-model="vm.item.productName"/>
            </md-input-container>

            <md-input-container>
              <label>Quantité</label>
              <input name="quantity" type="number" min="0" ng-model="vm.item.quantity"/>
            </md-input-container>

            <md-input-container>
              <label>Commentaire</label>
              <input name="comment" ng-model="vm.item.comment"/>
            </md-input-container>

            <md-button style="margin-bottom: 30px" ng-click="vm.addDonationToList()">Ajouter</md-button>
          </div>
        </div>
        <!-- End Card 1/3 -->

        <!-- Card 2/3 -->
        <div ng-if="vm.cardNumber == 2">

        </div>
        <!-- End Card 2/3 -->

        <div layout="row" layout-align="start center">
          <md-progress-linear flex md-mode="determinate" value="{{(vm.cardNumber/3)*100}}"></md-progress-linear>
          <p flex="20" class="card-pagination">Page {{ vm.cardNumber }} sur 3</p>

          <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="vm.setPreviousCardNumber()" ng-if="vm.cardNumber > 1">Précédent</md-button>
            <md-button ng-click="vm.setNextCardNumber()" ng-if="vm.cardNumber < 3">Suivant</md-button>
            <md-button ng-click="vm.debug()">Debug</md-button>
          </md-card-actions>
        </div>
      </md-card>
    </div>
  </div>
</div>
